@font-face {
    src: url(bitfont.ttf);
    font-family: bit;
}



/* Default Styling */
body {
    font-family: bit;
    font-family: 16px;
    background-color: #1d1d1d;
    color: #00FF33;
    padding: 0px;
    margin: 0px;
}

.defButton {
    text-align: center;
}

button.defaultButton {
    border: 1px solid #00FF33;
    background-color: #000000;
    /* font-weight: bold; */
    font-family: 'bit', monospace;
    /* border-radius: 7px; */
    color: #00FF33;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

button.defaultButton:hover {
    background-color: black;
    /* border-radius: 7px; */
    border: 2px solid rgb(235, 202, 14);
    color: yellow;
}

.name-field h3 {
    margin: 10px;
    padding: 0;
    text-align: center;
}
.contact-form {
    display: block;
    margin: auto;
}




/* Custom Structuring  */
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.row::after {
    display: table;
    clear: both;
    content:"";
}


.col-1 {width: 8.33%};
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 29.2%;}
.col-5 {width: 41.66;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}





/* ###### Nav Bar##################### */
.nav {
    background-color: black;
    color: #00FF33;
    width: 100%;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-align: center;
}

.nav ul li {
    padding: 16px;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 1px solid #00FF33;
    transition: background-color 0.3s;
    display: inline-block;
}

.nav a {
    text-decoration: none;
}

.nav li {
    color: #00FF33;
    text-decoration: none;
}

.nav ul li:hover {
    background-color: #282828;
    color: #33FF00;
    cursor: pointer;
}



/* Footer bar */
.footerTop {
    margin: 0px;
    padding: 0px;
    color: #00FF33;
    border: 1px solid #00FF33;
}

#sticky-footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background: #000000;
}

footer .comName {
    padding-top: 14px;
    padding-left: 20px;
    float: left;
}

footer h3 {
    margin: 0px;
}

.footerOptions {
    float: right;
}


/* Footer User Command Bar  */
.footerOptions ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;

}

.footerOptions ul li {
    display: inline-block;
    padding: 16px;
    text-align: center;
}

/* #############Custom Styles############## */

.col-4 {
    margin: 10px;
    border: 1px solid #00FF33;
    padding: 20px;
}

.contact-form {
    text-align: center;
}

.row img {
    display: block;
    margin: auto;
}

h2, h3 {
    text-align: center;
}



/* ######## Responsive ################# */

@media screen and (max-width: 680px) {
    .nav ul {
        
    }

    .nav ul li {

    }

    .col-4 {
        width: 100%;
        margin: 10px;
    }

}






